<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tori.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>tori.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>______Target_BSON</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Bridging</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_CHTTPParser</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_CryptoEssentials</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_HMAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_HeliumLogger</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Kitura</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_KituraMustache</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_KituraNet</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_KituraStencil</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_KituraSys</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_KituraTemplateEngine</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_LoggerAPI</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_MD5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_MongoCryptoEssentials</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_MongoHMAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_MongoKitten</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_MongoMD5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_MongoPBKDF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_MongoSCRAM</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_MongoSHA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Mustache</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_PBKDF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_PathKit</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_SCRAM</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_SHA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_SSLService</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Socket</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Socks</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_SocksCore</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_SocksCoreExampleTCPClient</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_SocksCoreExampleTCPKeepAliveServer</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_SocksCoreExampleTCPServer</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_SocksExampleTCPClient</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_SocksExampleTCPServer</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_SocksExampleUDPClient</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_SocksExampleUDPServer</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Spectre</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Stencil</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Strand</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_SwiftyJSON</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_ToriAPNS</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_ToriAllowRemoteOrigin</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_ToriHasParameter</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_tori</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
